/* Global */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
}

.main-title {
  font-size: 6rem;
}

.subtitle {
  font-size: 2rem;
}

.header-text {
  margin: 1rem;
}

.white-section {
  color: black;
  background-color: white;
}

.color-section {
  color: white;
  background-color: #001b45;
}

.wrapper {
  position: relative;
  padding: 0 13%;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.bold {
  font-weight: bold;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Nav */
nav {
  padding: 0 13%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  z-index: 99;
  border-bottom: 8px solid #c73834;
}

.brand-name {
  color: #c73834;
  text-decoration: none;
}

.brand-name:hover {
  color: #f8130b;
}

.nav-links {
  display: flex;
  width: 20%;
  padding: 1rem;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 1.5rem;
}

.nav-links a:hover {
  color: #c73834;
}

.burger {
  display: none;
}
/* Hero */
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Mascot */
.mascot {
  height: 50vh;
  width: auto;
  -webkit-animation: float 2s infinite alternate;
  animation: float 2s infinite alternate;
  padding-top: 2rem;
}

@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

/* CTA-Links */
.cta-links {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}

.cta-link {
  padding: 1rem;
  color: #c73834;
}

.cta-link:hover {
  color: #f01d16;
  -webkit-animation: wiggle 1s infinite alternate;
  animation: wiggle 1s infinite alternate;
}

/* Wiggle Animation */
@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
/* Page Divider */
.custom-shape-divider-top-1604562198 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1604562198 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.custom-shape-divider-top-1604562198 .shape-fill {
  fill: #001b45;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
}

/* Portfolio */
#portfolio {
  padding-top: 7rem;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  flex: 1;
  flex-basis: 46.5%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: whitesmoke;
  /* max-width: 500px; */
}

.project-image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.project-tech-stack {
  margin: 0 1rem;
}

.project-description {
  font-family: "Roboto", sans-serif;
  margin: 1rem;
}

.fa-laptop {
  transform: scale(0.9);
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-links a {
  color: black;
  padding: 1rem;
  font-weight: bold;
}

/* Divider 2 */
.custom-shape-divider-top-1604629951 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1604629951 svg {
  position: relative;
  display: block;
  width: calc(225% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1604629951 .shape-fill {
  fill: #ffffff;
}

/* About Me */
#about {
  padding-top: 8rem;
  min-height: 100vh;
  text-align: center;
  line-height: 3em;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-item {
  margin: 2rem;
}

/* Mobile Design */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 10vh;
    height: 92vh;
    width: 100%;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
  }

  .nav-links li {
    opacity: 0;
    width: 100%;
    text-align: center;
    /* border-bottom: solid 5px #001b45; */
  }

  .nav-links a {
    font-size: 1.5rem;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .project-title {
    font-size: small;
  }

  .skill-item {
    transform: scale(0.5);
    margin: 0rem;
  }

  .main-title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  #about h1 {
    font-size: 1em;
  }
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFades {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
